name: Sentry Release

# Controls when the workflow will run
on: 
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create Sentry release
        uses: getsentry/action-release@V1
        env:
          SENTRY_AUTH_TOKEN: ${{ SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ SENTRY_ORG }}
          SENTRY_PROJECT: ${{ SENTRY_PROJECT }}
          # SENTRY_URL: https://sentry.io/
        with:
          environment: production
